/* RESET ALL TAG */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLE */

body, p { 
    font-family: 'Segoe UI', Tahoma;
    font-size: 18px;
    line-height: 29px;
    color: #3f3f3f;
    font-weight: 400;
}

.container {
    width: 650px;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}

/*------ Header ------*/

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(img/profile.png);
    background-size: cover;
    background-position: 0 -2px ;
    margin: 30px 0;
}

.date::before {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 999px;
    background-color: #00A6ED;
    content: "Code";
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;    
}

.date {
    color: #6b6a6a;
}

.judul {
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
    margin: 20px 0px;
    text-align:justify;
    color: #222;
}

/*------ Content ------*/

.cover {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0px;
}

.container .content .description p {
    font-size: 20px;
    line-height: 33px;
    margin: 25px 0px;
    color: #222;
}

.container .content h2 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin: 50px 0 30px 0;
    color: #222;
}

.bold {
    font-weight: 630;
    color: #222;
    margin: 20px 0;
}

p {
    margin: 25px 0px;
}

.list {
    list-style: disc;
    margin: 20px 0 20px 20px;
    color: #3f3f3f;
    font-weight: 400;
}


.order-list li p {
    font-weight: 400;
}

.sub-list {
    list-style: circle;
    margin: 20px 0 20px 20px;
    color: #222;
}

.sub-list .bold {
    color: #3f3f3f;
}

.order-list {
    color: #222;
    font-weight: 630;
    list-style: decimal;
    margin: 20px 0px 0px 20px;
}

.order-list .list-image {
    width: 90%;
    margin: 20px auto 30px auto;
    display: block;
}

.content a {
    font: 15px/0px 'Segoe UI', Tahoma;
    color: #069;
    padding: 2px;
}

.content a:hover {
    color: white;
    background-color: #069;
}

.container .content .link {
    margin-top: 0px;
    margin-bottom: 30px;
}

.container img {
    width: 650px;
    height: auto;
    margin: 0px 0px;
}

.back {
    width: 650px;
    font: 20px/10px 'Segoe UI', Tahoma;
    font-weight: 700;
    padding: 30px 0;
    margin-top: 30px;
    border-top: 1px solid #c8c6c6;
    color: #969696;
}

.back a {
    text-decoration: none;
    color: #069;
    padding: 2px;
}

.back a:hover {
    color: white;
    background-color: #069;
}

.footer {
    width: 650px;
    font: 15px/10px 'Segoe UI', Tahoma;
    padding: 30px 0;
    margin-top: 8px;
    border-top: 1px solid #c8c6c6;
    color: #969696;
}

.footer a {
    text-decoration: none;
    color: #069;
    padding: 2px;
}

.footer a:hover {
    color: white;
    background-color: #069;
}

.spacing {
    margin-top: 30px;
}

/* RESET FLOATS */
.cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }




